#quiz-area {
    display: none;
}

#hs-and-timer-area {
    display: flex;
}

#end-screen {
    display: none;
}

#hs-screen {
    display: none;
}

button {
    display: block;
    width: auto;
    padding: 10px;
    background-color: purple;
    color: whitesmoke;
    border-radius: 5px;
    margin: 5px;
    text-align: left;
}